/* место для вашего кода */
body{
    background-color: white;
}


.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    margin: 92px 24px 96px 24px;
}


.header__menu {
    width: 391.5px;
}

.header__links-list {
    list-style: circle;
    display: flex;
    flex-direction: row;
    gap: 31.5px;
}


.header__links-list-item_no-bullit{
    list-style: none;
}

.header__link_active{

}

.header__link{

}

.header__links-list-item{

}

.header__logo{
    display: block;
    width: 148px;

}

.header__logo-image{
    width: 100%;
}

.address{
justify-self: end;
font-style: normal;
font-family: Raleway;
font-size: 18px;
font-weight: 400;
line-height: 24.3px;
letter-spacing: 0.01em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}


.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    background-image: url("../images/cover.jpg");
    background-size: cover; 
    background-position: center center; 
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}

.cover__title {
    margin: 165px 50px 237px 50px ;  
}

.title {
    font-size: 100px;
    letter-spacing: 30px;
    text-transform:uppercase;
    color: white;
    line-height: 118.3px;
}
    

.aligned-text_center{
    text-align: center;
}

.aligned-text_right{
    text-align: end;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    position: absolute;
    top: 667px;
    left: 78px;
}

.cover__description-text {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    text-transform: uppercase;
    word-spacing: 19px;
}

.bet-button {
    position: absolute;
    top: 655px;
    left: 794px;
    padding: 12px 32px;
    border: 1px white solid;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: white;
    text-transform: uppercase;
    background-color: transparent;

}

.lots{
    width: 1052px;
    height: 692px;
    margin: 179px 24px;

}

.lots__heading {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    color: black;
    top: 79px;
    left: 64px;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}

.lots__card-list{
    width: 1052px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 563px;
    flex-grow: 1;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 334px;
    padding: 51px 40px;
    background-size: cover;
    background-position: center;
   
}

.card_type_film{
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book{
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture{
    background-image: url("../images/card-lot-03.jpg");
}

.card__title{
    color: white;
    z-index: 1;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
}

.card__text{
    color: white; 
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
}

.lots__look-more-link{
    display: block;
    color: black;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0 148px 40px;
}
